 <ion-view ng-controler="indexCtrl" can-swipe-back="false" cache-view="true">
   <ion-nav-view>

   </ion-nav-view>

   <div class=" tabs tabs-icon-top tabs-light ">
     <a class=" tab-item tab-item-calm" href="" ng-click="goShebei()" ng-class="{true:'active'}[appPage.state=='shebei']">
       <i class="ion tab-shebei"></i>设备</a>
     <a class=" tab-item tab-item-calm" href="" ng-click="goMenjin()" ng-class="{true:'active'}[appPage.state=='menjin']">
       <i class="ion tab-menjin"></i>门禁</a>
     <a class=" tab-item tab-item-calm" href="" ng-click="goKaoqin()" ng-class="{true:'active'}[appPage.state=='kaoqin']">
       <i class="ion tab-kaoqin"></i>考勤</a>
   </div>
 </ion-view>
