 <ion-header-bar class="bar bar-calm">
   <div class="buttons" ng-click="goBack()">
     <buttons class="button button-clear button-calm" ></buttons>
     <i class="icon ion-ios-arrow-back"></i>
   </div>
   <div class="title">
     修改密码
   </div>
 </ion-header-bar>
 <ion-content class="has-tabs" overflow-scroll="true">
   <div style="height: calc(100% - 80px)">
     <div class="list">
       <label   class="item item-input">
         <input type="password" placeholder="旧密码">
       </label>
       <label   class="item item-input">
         <input type="password" placeholder="新密码">
       </label>
       <label   class="item item-input">
         <input type="password" placeholder="确认新密码">
       </label>
     </div>
   </div>

   <div  style="height: 44px;width: 100%;">
     <button class="button button-block"  style="border-radius: 0;background-color: #DCEFFF;border: none;outline: none;color: #3FA7FB;"> 修改密码</button>
    </div>
 </ion-content>
