<ion-header-bar class="bar bar-calm">
  <div class="buttons">
    <button class="button button-clear" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </div>
  <div class="title">
    打开门禁控制
  </div>
  <div class="buttons">

  </div>
</ion-header-bar>
<ion-content class="has-tabs" overflow-scroll="true">
  <div class="height-half">
    <div class="menjin-status">
      <img src="../img/lock.png">
    </div>
  </div>

  <div class="height-half">
    <div class="menjin-operation" ng-click="openDoor()">
      <img src="../img/kaoqin-button.png">
      <span>开门</span>
    </div>
  </div>
</ion-content>
